node_modules
.vscode
package-lock.json
src/nftea-assets/xd
SvelteToDelete
/Reach/.reach
/Reach/rTest
/Reach/NftSale
/Reach/i.rsh
/Reach/index2.rsh
/Reach/index2.mjs
/ASA
#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
