@import url(./inputs.css);
:root{
	--primary-color:#10ABB4;
	--primary-mono:#004C50;
	--primary-comp:#00939C;
	--primary-bright:#75F200;
	--inactive-component:#A6BCD0;
	--spectacular-orange:#FF7700;
	--purp-vybe:#9C3E00;

	--font-heading:bold 'poppins';
	--font-subscript:16px 'poppins';
	--font-body:regular 16px 'poppins';
	--font-body-title:bold 'poppins';
	--font-menu-label:thin 16px 'poppins';
  
	--transition-navigation:.3s cubic-bezier(0.4,0,0.2,1);
	--animation-navigation: highlights ease-in-out .5s normal forwards;
	--animation-dropdown: dropdown ease-in-out .5s normal forwards;
  
	--border-inactive-input:2px solid #00000038;
	--border-active-input:2px solid var(--primary-color-mono-2);
	--border-success-input:2px solid var(--indicator-color-positive);
	--border-unsuccessful-input:2px solid var(--indicator-color-negative);
  
	--label-padding: 0 10px;
  }
*{
	transition: var(--transition-navigation);
	box-sizing: border-box;
	-webkit-tap-highlight-color:transparent;
	scroll-behavior: smooth;
}
html, body {
	position: relative;
	width: 100%;
	height: 100%;
	color: white;
	background-repeat: no-repeat;
	background-size: contain;
	display: grid;
}
svg{
	margin: auto;
}
body {
	color: white;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

}
button,a{
	pointer-events: all;
	cursor: pointer;
	color:white
}
button{
	border: none;
	background-color:transparent;
	padding: 0;
}

#top-bar{
	background-color: #4a90b9;
	display: flex;
}

#menu-block,
#title-block,
#anchor-block{
	background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
	color: white;
}
#anchor-block{
	display: flex;
	justify-content: flex-end;
}
h1,h2{
	color: white;
	font-family: 'poppins';
	font-weight: bold;
	text-align: center;
}
sub{
	font:var(--font-subscript);
	color:var(--spectacular-orange);
}
a:hover{
	color:var(--spectacular-orange);
}
#upper-right-block{
	position: relative;
	background-color: black;
}
p{
	font-family: poppins;
	font-weight: 300;
	font-size: 12px;
	margin:auto;
}
::-webkit-scrollbar{
	display: none;
}
ul::-webkit-scrollbar {
	display: block;
	width: 1px;
	background-color: #5c4c47;
}
ul::-webkit-scrollbar-thumb {
	background-color: rgba(0, 255, 255, 0.329);
}
ul{
	scroll-snap-type: y mandatory;
}
li{
	scroll-snap-align: start;
}
#card-label-box{
	width: 100%;
}
@keyframes slideIn {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0);
	}
}
#sidebarBlock.open{
    animation: slideIn 0.5s ease-in-out;
	animation-fill-mode: forwards;
    transform: translate(0,0);
}