@import url(./inputs.css);
@import url(./dimensions.css);
:root{
	--light: hsl(220, 50%, 90%);
	--primary: hsl(255, 30%, 55%);
	--focus: #0d80f2;
	--border-color: hsla(0, 0%, 100%, .2);
	--global-background: hsl(220, 25%, 10%);
	--background: linear-gradient(to right, hsl(210, 30%, 20%), hsl(255, 30%, 25%));
	--shadow-1: hsla(236, 50%, 50%, .3);
	--shadow-2: hsla(236, 50%, 50%, .4);
	--button-blue:#1a73e8;

	--primary-color:#10ABB4;
	--primary-mono:#004C50;
	--primary-comp:#00939C;
	--primary-bright:#75F200;
	--inactive-component:#A6BCD0;
	--spectacular-orange:#FF7700;
	--spectacular-orange-hover:#ff77005b;
	--purp-vybe:#9C3E00;

	--font-heading:bold 'poppins';
	--font-subscript:16px 'poppins';
	--font-body:regular 16px 'poppins';
	--font-body-title:bold 'poppins';
	--font-menu-label:thin 16px 'poppins';
  
	--transition-navigation:.3s cubic-bezier(0.4,0,0.2,1);
	--animation-navigation: highlights ease-in-out .5s normal forwards;
	--animation-dropdown: dropdown ease-in-out .5s normal forwards;
  
	--border-inactive-input:2px solid #00000038;
	--border-active-input:2px solid var(--primary-color-mono-2);
	--border-success-input:2px solid var(--indicator-color-positive);
	--border-unsuccessful-input:2px solid var(--indicator-color-negative);
  
	--label-padding: 0 10px;
  }
*{
	transition: var(--transition-navigation);
	box-sizing: border-box;
	-webkit-tap-highlight-color:transparent;
	scroll-behavior: smooth;
	scrollbar-width: thin;
	max-width: 100%;
	max-height: 100%;
}
html, body {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	position: relative;
	width: 100%;
	height: 100%;
	color: white;
	background-repeat: no-repeat;
	background-size: contain;
}
svg{
	margin: auto;
}
body {
	display: -ms-grid;
	display: grid;
	color: white;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

}
button,input{

	color: var(--light);
	background: var(--background);
	box-shadow: .4rem .4rem 2.4rem .2rem var(--shadow-1);
	border-radius: 100rem;
	padding: 1.4rem 3.2rem;
  
	transition: .2s;
	direction: ltr;
	  white-space: normal;
	  position: relative;
	  display: inline-flex;
	  align-items: center;
	  justify-content: center;
	  border: none;
	  outline: none;
	  line-height: inherit;
	  -webkit-user-select: none;
	  -webkit-appearance: none;
	  overflow: visible;
	  vertical-align: middle;
	  background: transparent;
	  margin-top: 6px;
	  margin-bottom: 6px;
	  -webkit-font-smoothing: antialiased;
	  text-decoration: none;
	  --mdc-ripple-fg-size: 0;
	  --mdc-ripple-left: 0;
	  --mdc-ripple-top: 0;
	  --mdc-ripple-fg-scale: 1;
	  --mdc-ripple-fg-translate-end: 0;
	  --mdc-ripple-fg-translate-start: 0;
	  -webkit-tap-highlight-color: rgba(0,0,0,0);
	  will-change: transform,opacity;
	  height: 36px;
	  border-radius: 4px;
	  font-family: "Google Sans",Roboto,Arial,sans-serif;
	  font-size: .875rem;
	  letter-spacing: .0107142857em;
	  font-weight: 500;
	  text-transform: none;
	  transition: border 280ms cubic-bezier(0.4,0,0.2,1),box-shadow 280ms cubic-bezier(0.4,0,0.2,1);
	  box-shadow: none;
	  padding: 0 24px 0 24px;
	  box-sizing: inherit;
	  background-color: var(--button-blue);
	  color: #fff;
}
button,a{
	pointer-events: all;
	cursor: pointer;
	color:white;
	cursor: pointer;
	outline: none;
}
button{
	border: none;
	padding: 5px;
	margin: 5px;
}
button.tr{
	background-color: transparent;
}
#top-bar{
	background-color: #4a90b9;
	display: flex;
}

#menu-block,
#title-block,
#anchor-block{
	background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
	color: white;
}
#anchor-block{
	display: flex;
	justify-content: flex-end;
}
h1,h2{
	color: white;
	font-family: 'poppins';
	font-weight: bold;
	text-align: center;
}
sub{
	font:var(--font-subscript);
	color:var(--spectacular-orange);
}
a:hover{
	color:var(--spectacular-orange);
}
div#signup-container {
    margin: auto;
    border-radius: 8px;
	background: var(--primary);
    box-shadow: var(--m-shadow, .4rem .4rem 10.2rem .2rem) var(--shadow-1);
}
#feature-block{
	position: relative;
	background-color: black;
}
p{
	font-family: poppins;
	font-weight: 300;
	font-size: 12px;
	margin:auto;
	max-width: 100%;
    text-overflow: ellipsis;
}
::-webkit-scrollbar{
	display: none;
}
ul::-webkit-scrollbar {
	display: block;
	width: 1px;
	background-color: #5c4c47;
}
ul::-webkit-scrollbar-thumb {
	background-color: rgba(0, 255, 255, 0.329);
}
ul{
	-ms-scroll-snap-type: y mandatory;
	scroll-snap-type: y mandatory;
}
li{
	-ms-scroll-snap-align: start;
	scroll-snap-align: start;
}
#card-label-box{
	width: 100%;
}
@keyframes slideIn {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0);
	}
}
#sidebarBlock.open{
    animation: slideIn 0.5s ease-in-out;
	animation-fill-mode: forwards;
    transform: translate(0,0);
}
#bidders-bar ul:first-child li #menu-bar{
	background-color: var(--primary-bright);
}
#menu-bar{
	background-color: var(--spectacular-orange);
}
#menu-bar{
	background-color: var(--primary-mono);
}
#menu-bar.mtr{
	background-color:transparent;
}
#sidebarBlock{
	padding: 20px 0;
}
#right-block,#central-block{
	padding: 20px;
}